@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/brams');
@font-face {
    font-family: canterbury;
    src: url('../fonts/canterbury/Canterbury.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'playfair display', 'Courier New', Courier, monospace;
    width: 100%;
    height: auto;
    margin: 0;
}

header a{
    text-decoration-line: none;
    color: #c47535;
}

header{
    padding: 16px 32px;
    background-color: #5F382F;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    display: flex;
    gap: 16px;
}

.name{
    border-left: 3px solid #d2aa8b;
    padding-left: 16px;
}

.logo h1{
    color: #d2aa8b;
    font-family: canterbury, 'playfair display';
    font-size: 36px;
    margin: 0;
}

.nav{
    flex-shrink: 0;
    list-style: none;
    display: flex;
    gap: 16px;
    font-size: 18px;
    padding: 0;
    margin-left: 8px;
}

.nav li{
    height: 30px;
    padding: 0;
    padding-left: 8px;
    border-left: 1px solid #c47535;
}

#hero{
    background-color: #5F382F;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    padding: 64px 32px;
}

.intro{
    max-width: 400px;
    height: auto;
}

.intro h1{
    font-size: 48px;
    margin: 0;
    color: #d2aa8b;
}

.intro p{
    color: #c47535;
}

.intro button{
    border: none;
    border-radius: 8px;
    padding: 8px 24px;
    color: #d2aa8b;
    background-color: #8a2b2b;
    font-size: 16px;
    cursor: pointer;
}

.image{
    width: 450px;
    height: auto;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#info{
    background-color: #d2aa8b;
    color: #5F382F;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#info h1{
    margin: 0;
    text-align: center;
    color: #463333;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}

.card{
    max-width: 170px;
    height: auto;
}

.card div{
    max-width: 150px;
    height: 150px;
}

.card div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 4px solid #8a2b2b;
    border-radius: 16px;
}

.card h3{
    margin: 8px;
    text-align: center;
}

.card p{
    margin: 0;
    text-align: center;
}